# Binaries
bin/
dist/
*.exe
*.dll
*.so
*.dylib

# Go test / build
*.test
*.out
vendor/
output/

# Python
__pycache__/
*.py[cod]

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Env
.env
*.env
.adnify
officecli-ref/
ppt-master/